<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Material Design for Bootstrap</title>
    <!-- MDB icon -->
    <link rel="icon" href="../../assets/img/ico/favicon.ico" type="image/x-icon" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../assets/css/all.min.css" />
    <!-- MDB CSS-->
    <link rel="stylesheet" href="../../assets/css/core.min.css" />
    <!-- Custom styles -->
    <style>

    </style>
  </head>

  <body>
    <main class="container">
      <section class="d-flex justify-content-center align-items-center0">
        <div class="my-5">
          <div class="card">
            <div class="card-body">
              {{{body}}}
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>

  <script type="text/javascript" src="../../assets/js/core.min.js"></script>
  <script type="text/javascript" src="../../assets/js/module.min.js"></script>
</html>